# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
.env/

# Data
# Keep raw data in the repository
data/processed/
data/results/

# Notebooks checkpoints
.ipynb_checkpoints/

# Generated outputs only
data/results/*.png
data/results/*.csv
*.png
