# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
.env/

# Data
# Keep raw data in the repository (data/raw is NOT ignored)
data/processed/
!data/processed/labeled_data_btc.csv
data/results/

# Notebooks checkpoints
.ipynb_checkpoints/

# Generated outputs only
data/results/*.png
data/results/*.csv
*.png
